aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autopep8==2.3.2
black==26.5.1
certifi==2026.2.25
cffi==2.0.0
click==8.4.1
cryptography==46.0.6
deprecation==2.1.0
dj-database-url==2.3.0
Django==6.0
django-extensions==4.1
django-filter==25.1
django-ratelimit==4.1.0
djangorestframework==3.14.0
flake8==7.3.0
frozenlist==1.8.0
gotrue==2.12.4
gunicorn==25.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
MarkupSafe==3.0.3
mccabe==0.7.0
multidict==6.7.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.1.1
pillow==12.1.1
platformdirs==4.10.0
postgrest==1.0.2
propcache==0.4.1
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytokens==0.4.1
pytz==2026.1.post1
realtime==2.4.3
ruff==0.15.16
six==1.17.0
sqlparse==0.5.5
storage3==0.11.3
StrEnum==0.4.15
supabase==2.15.0
supafunc==0.9.4
typing-inspection==0.4.2
typing_extensions==4.15.0
websockets==14.2
Werkzeug==3.1.8
whitenoise==6.9.0
yarl==1.23.0
